h1{
  color: blue;
  text-align: center;
}
h1::selection{
  background-color: black;
  color: white;
  font-weight: lighter;
}
@media (max-width: 499px){
  body{
    background-color: black;
    color: white;
  }
}
@media (min-width: 500px){
  body{
    background-color: white;
    color: black;
  }
}
button:hover{
  background-color: grey;
  font-weight: bold;
}
